# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpp_00/ex00/megaphone
cpp_00/ex01/phonebook
cpp_00/.vscode/settings.json
.DS_Store
.vscode/settings.json
cpp_04/ex01/brains.dSYM/Contents/Info.plist
cpp_04/ex01/brains.dSYM/Contents/Resources/DWARF/brains
cpp_03/ex03/diamond
cpp_05/ex02/forms
cpp_05/ex03/intern
cpp_06/ex00/scalar
